#overlay{
    position:absolute;
    top: 4em;
    z-index:1;
}

.element{
    position:absolute;
}

div.overview{
	position: fixed;
	bottom: 3em;
	right: 1em;
	z-index:2;
	width: 11em;
	background-color: white;
	border-radius: 1em;
  box-shadow: 10px 10px 5px #888888;
}

.courseselect{
    position: fixed;
  z-index:2;
  bottom: 3em;
  left: 1em;
  width: 11em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 10px 10px 5px #888888;
}

.overviewheader{
	border-bottom: 2px solid darkgrey;
}
.overviewbody{
	height: 12em;
}

.playline {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2em;
  z-index: 2;
  background-color: #DBDBDB;
}
.playlineline {
  height: 16px;
  width: 80%;
  background-color: #AFAFAF;
  border-radius: 2px;
  margin: 0.5em;
  max-width:70%;
}
.playlinetime {
  position: relative;
  margin-left: -8px;
  background-color: white;
  border-radius: 50%;
  width: 1em;
  height: 1em; 
  z-index: 5;
}

.playlineoverlay {
  background-color: #868686;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  border-radius: 2px;
  width: 8px;
}

.playimage {
  height:20px;
  width: 20px
}

.playbutton {
  height: 1.4em;
  width: 40px;
  margin:0.35em;
}

.playbuttonimage {
  height: 20px;
  width: 20px;
}
   .transparent_class {
        filter:alpha(opacity=50); /* for IE4 - IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
   }