<div id="map-canvas" layout="column" flex></div>
    <div class="courseselect">
    <md-select ng-model="choosenCourse" flex>
      <md-option flex ng-value="course" ng-repeat="course in event.courses">{{course.name}}</md-option>
    </md-select>
    </div>
		<div class="overview" layout="column">
			<div layout="row">
				<p>Choose runners</p>
				<span flex></span>
				<ng-md-icon ng-show="showOverview" ng-click="showOverview = !showOverview" icon="keyboard_arrow_down"></ng-md-icon>
				<ng-md-icon ng-hide="showOverview" ng-click="showOverview = !showOverview" icon="keyboard_arrow_up"></ng-md-icon>
			</div>
			<div class="overviewbody" layout="row" ng-show="showOverview">
				<div layout="column" ng-repeat="eventdevice in choosenCourse.eventdevices">
					<div layout="row">
						<md-checkbox ng-change="changeVisibilityOfMarker(eventdevice)" ng-model="eventdevice.visible"/>
						<span >{{eventdevice.runner.name}}</span>
						<span flex></span>
						<ng-md-icon style="color:{{eventdevice.color}};" icon="place"></ng-md-icon>
					</div>
					<md-divider/>
				</div>
			</div> 
      	</div>
      	<div class="playline" layout="row">
      		<div class="playlinefirst" layout="row" style="5em;">
      			<button class="playbutton" ng-click="decrementSpeed()"><ng-md-icon class="playimage" icon="fast_rewind" size="16"></ng-md-icon></button>
      			<button class="playbutton" ng-hide="playing" ng-click="play()"><ng-md-icon size="16" class="playimage" icon="play_arrow" ></ng-md-icon></button>
      			 <button ng-show="playing" class="md-raised playbutton" ng-click="pause()"><ng-md-icon size="16" class="playimage" icon="pause"></ng-md-icon></button>
      			<button class="playbutton" ng-click="incrementSpeed()"><ng-md-icon icon="fast_forward" size="16"></ng-md-icon></button>
      		</div>
      		<div class="playlineline" layout="row">
      			<div id="playlineoverlay" class="playlineoverlay"></div>
      			<div id="playlinetime" class="playlinetime"></div>
      		</div>
      		 <div class="playlinethird" layout="row">
      			<p flex style="margin-top: 0.5em; margin-bottom: 0.5em;" ng-if="event != null">{{convertPlayingToString()}}</p>
      		</div>
      	</div>
      <script type="text/ng-template" id="trackHistorySpeedDialog">
          <md-dialog layout="column"> 
           <h1 style="text-align: center;">{{choosenSpeed}} x</h1>
          </md-dialog>
    </script>