<div id="map-canvas2" style="height: 57em;"></div>
    <div class="courseselect">
    <md-select ng-model="choosenCourse" flex>
      <md-option flex ng-value="course" ng-repeat="course in event.courses">{{course.name}}</md-option>
    </md-select>
    </div>
		<div class="overview" layout="column">
			<div class="overviewheader" layout="row">
				<p>Choose runners</p>
				<span flex></span>
				<ng-md-icon ng-show="showOverview" ng-click="showOverview = !showOverview" icon="keyboard_arrow_down"></ng-md-icon>
				<ng-md-icon ng-hide="showOverview" ng-click="showOverview = !showOverview" icon="keyboard_arrow_up"></ng-md-icon>
			</div>
			<div class="overviewbody" layout="row" ng-show="showOverview">
				<div layout="column" ng-repeat="eventdevice in choosenCourse.eventdevices">
					<div layout="row">
						<md-checkbox ng-change="changeVisibilityOfMarker(eventdevice)" ng-model="eventdevice.visible"/>
						<span >{{eventdevice.runner.name}}</span>
						<span flex></span>
						<ng-md-icon style="color:{{eventdevice.color}};" icon="place"></ng-md-icon>
					</div>
				</div>
			</div> 
      	</div>