
<html lang="en" ng-app="StarterApp">
<head>

<link rel="stylesheet" href="styles/index.css">
<link rel="stylesheet" href="styles/user_update.css">
<link rel="stylesheet" href="styles/event.css">
<link rel="stylesheet" href="styles/track.css">

<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
<link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
<link rel="stylesheet" href="bower_components/mdPickers/dist/mdPickers.min.css">
<link rel="stylesheet" href="bower_components/clockpicker/dist/jquery-clockpicker.min.css">
<link rel="stylesheet" href="bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="bower_components/jquery-ui/themes/ui-lightness/theme.css">

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script> 
<script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script> 
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script> 
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/mdPickers/dist/mdPickers.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/exifreader/js/ExifReader.js"></script>
<script src="bower_components/clockpicker/dist/jquery-clockpicker.min.js"></script>


<script src="scripts/index.js"></script>
<script src="scripts/register.js"></script>
<script src="scripts/user_update.js"></script>
<script src="scripts/map.js"></script>
<script src="scripts/maps-list.js"></script>
<script src="scripts/date.js"></script>
<script src="scripts/mainpage.js"></script>
<script src="scripts/team.js"></script>
<script src="scripts/devices.js"></script>
<script src="scripts/events.js"></script>
<script src="scripts/event.js"></script>
<script src="scripts/eventdevice.js"></script>
<script src="scripts/track_live.js"></script>

    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByiOVHAmyat7wyOvDZ6CriFNMPM7bK46k">
    </script>
</head>

  <body id="body" layout="row" ng-controller="AppCtrl" flex>
<md-sidenav id="sidenav" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar style="position: fixed;" class="md-tall md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
      <user-avatar></user-avatar>
      <span></span>
      <div>{{user().name}}</div>
      <div>{{user().email}}</div>
    </div>
  </md-toolbar>
  <md-list>
  <a ng-repeat="item in siderow">
  <md-subheader>{{item.header}}</md-subheader>
    <md-item ng-repeat="b in item.body">
    <md-item-content ng-click="changeLocation(b.reference)" md-ink-ripple layout="row" layout-align="start center">
          <div class="inset">
            <ng-md-icon icon="{{b.icon}}"></ng-md-icon>
          </div>
          <div class="inset">{{b.title}}</div>
        </md-item-content>
    </md-item>
    <md-divider></md-divider>
    </a>

  </md-list>
</md-sidenav>
    <section flex layout='column'>
    <md-toolbar layout="row" style="height: 2em">
       <md-button id="sidenavbutton" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu"><ng-md-icon icon="menu"></ng-md-icon></md-button>
       <span flex></span>
      <div ng-hide="loggedIn()">
       <md-button style="height: 100%;" ng-click="changeLocation('register')">Register</md-button>
       <md-button style="height: 100%;" flex ng-click="login()">Login</md-button>
       </div>
       <md-button ng-show="loggedIn()" ng-click="logout()">Logout</md-button>
     
    </md-toolbar>
    <div ui-view></div>
    </section>
      <script type="text/ng-template" id="loginDialog">
          <md-dialog layout="column"> 
           <h2 style="text-align: center;">Login</h2>
          <div class="md-actions">
          <form name="loginValidater" ng-submit="submit(_username, _password)">
          <div ng-if="falseLogin" style="color:maroon" role="alert">The username and/or password did not match any users</div>
          <md-input-container flex="flex">
            <label >Username</label><input type="text" ng-model="_username" required/>
          </md-input-container>
          <md-input-container flex="flex">
            <label >Password</label><input type="password" ng-model="_password" required/>
          </md-input-container>
            <md-button type="button" ng-click="registerDialog()">Register</md-button>
            <md-button layout-align="start right" class="md-raised md-primary">Login</md-button>
          </form>
          </div>
          </md-dialog>
    </script>
  </body>
</html>


